body, ul {
    margin: 0;
    padding: 0;
}
.right-section{
    text-align: left;
    margin-left: 90px;
}

.sidebar {
  margin-bottom: 50px;
    background-color: #696969;
    color: #fff;
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
  
}
.sidebar ul img{
    width: 50px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
    
}
.content .container{
    display: flex;
    box-shadow:  0px 0px 0px 5px #696969;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #222020;
   
}
.content .container h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content .container p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.content img {
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}
#about {
    padding: 20px;
    background: #000000;
   
    text-decoration: none;
    box-shadow: 0 0px 0px 5 rgba(0, 0, 0, 0.2);
    color: #fffbfb;
  }
  #about h2 {
    color: #e74c3c;
  }
  #about p{
  font-size: 20px;
  }
  #skills h2 {
    color: #e74c3c;
  }
  #skills li {
    text-align: center;
    margin-bottom: 10px;
    padding: 0.5rem 1.5rem 1rem;
    border-radius: 1.5rem;
    background: #696969;
    list-style-type: none;
  }
  #skills ul li {
    text-decoration: none;
    color: inherit;
  }
  
  li + li {
    margin-top: 1rem;
  }
  #projects {
    
    padding: 20px;
    background: #000;
    text-decoration: none;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #e74c3c;
  }
  #projects h2 {
    color: #e74c3c;
  }
  #projects h3 {
    text-align: center;
    color: #e74c3c;
  }
  #projects li {
    text-align: center;
    margin-bottom: 10px;
    padding: 0.5rem 1.5rem 1rem;
    border-radius: 1.5rem;
    background: #696969;
    list-style-type: none;
    color: #fff;
  }
  #projects h4 {
    text-align: center;
    color: #e74c3c;
  }
  ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  li + li {
    margin-top: 1rem;
  }
  #contact {
    padding: 20px;
    text-decoration: none;
    background: #b6b6b6;
  }
  #contact h2 {
    color: #e74c3c;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-icons a img {
    width: 30px;
    height: 30px;
  }
  
 
  .social-icons a:hover {
    transform: scale(1.1);
  }
  .btn {
    background-color: #696969;
    border: none;
    color: white;
    padding: 12px 19px;
    font-size: 56px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: white;
  }
